<button (click)="toggle()">{{ show ? 'Hide' : 'Show' }}</button>
<div *ngIf="show">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div>
            <label for="firstName">
                First Name
            </label>
            <input id="firstName" type="text" formControlName="firstName">
        </div>

        <div>
            <label for="lastName">
                Last Name
            </label>
            <input id="lastName" type="text" formControlName="lastName">
        </div>

        <div formGroupName="height">
            <div>
                <label for="feet">
                    Feet
                </label>
                <input id="feet" type="text" formControlName="feet">
            </div>

            <div>
                <label for="Inches">
                    Inches
                </label>
                <input id="inches" type="text" formControlName="inches">
            </div>
        </div>

        <button class="button" type="submit">Save</button>
        <button class="button" type="button" (click)="load('form-1')">Load Draft</button>
    </form>
</div>

<div *ngIf="show">
    <form [formGroup]="form2" (ngSubmit)="onSubmit(form2.value)">

        <div>
            <label for="address">
                Address
            </label>
            <input id="address" type="text" formControlName="address">
        </div>

        <div>
            <label for="phone">
                Phone
            </label>
            <input id="phone" type="text" formControlName="phone">
        </div>

        <div formGroupName="payment">
            <div>
                <label for="dollars">
                    Dollars
                </label>
                <input id="dollars" type="text" formControlName="dollars">
            </div>

            <div>
                <label for="cents">
                    Cents
                </label>
                <input id="cents" type="text" formControlName="cents">
            </div>
        </div>

        <button class="button" type="submit">Save</button>
        <button class="button" type="button" (click)="load('form-2')">Load Draft</button>

    </form>
</div>
